<div class="container main-container">
    <h1>Angular Forms </h1>
    <h2>Using angular forms with most of the logic in the component.ts and in the .html</h2>
    <hr><br><br>
    <div class="row">
        <div class="col-md-6">

            <app-data></app-data>
        </div>
        <div class="col-md-6">

            <app-template></app-template>

        </div>
    </div>
</div>
<footer class="footer mt-auto py-3 bg-light border-top" style="margin-top: 10vh!important;">
    <div class="container">
        <a style="text-decoration: none;" href="https://ramonmorcillo.com" target="_blank">ramon morcillo @reymon359 </a> | &copy;<time datetime="2019">Year 2019</time> |
        <a href="#top" style="text-decoration: none;">Back top</a>
    </div>
</footer>